<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Etude bot</title>

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/scripts/clientBot.js"></script>
  </head>
  <body>
    <h1>Page étude bot</h1>

    <label for="input1">Nombres de bots aléatoires:</label>
    <input type="number" id="alea" />
    <br />
    <label for="input2"> Nombres de bots Algo :</label>
    <input type="number" id="algo" />
    <br />
    <label for="input2"> Nombres de parties :</label>
    <input type="number" id="partie" />
    <br />
    <button id="lancer">Lancer partie bot</button>
    
  </body>
</html>
