
body, html {
    margin: 0;
    padding: 0;
    height: auto;
}

.fond-eau{
    background-image: url(../data/eau-piscine.webp) ;
    background-repeat: repeat;
    background-position: center;
}

.fond-sol{
    background-image: url(../data/sol.png);
    background-repeat: repeat;
    background-size: 200px;
}

/* GENERAL */

.cacher{
    display: none !important;
}

.inverse{
    transform: scaleX(-1);
}

/* HEADER */

header{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../data/parasol.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat;
    padding-bottom: 3%;
}

img#titre{
    width: 30%;
    height:auto;
}

header > img{
    width: 5%;
    height:auto;
}

#icone-header{
    width: 60%;
    height:auto;
}

#btn-header{
    width: 6%;
}

#offcanvasRegles{
    background-color: #bde7ff;
}

#offcanvasReglesHeader{
    background-color: #a6deff;
}

/* MENU */
#roomJoin{
    width: 50% !important;
}

#creer-rejoindre-partie > div{
    background-color: rgba(171, 228, 255, 0.5);
    border-radius: 10px; 
    
}


/* CONNEXION */



#ecran-connexion{
    
}

.bouee-canard{
    width: 100px;
    height: auto;
}

.transparent{
    opacity: 0.1;
}

.pretT{
    background-color: green !important;
}


/* PARTIE */


#roomEtChat{

}


/* CHAT */

#roomEtChat{
}

#divChat{
    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 10px; 
}


#chat{
}

#messages-chat{
    max-height: 300px;
    overflow-y: auto;
}



/* ROOM */


/* PLOUF PARTY */

#plateau{
    
}

#tab-plateau {
    
    background-image: url(../data/piscine.png);
    background-size: cover;
    display: grid;
  
    /*border: 1px solid black;*/
}

#tab-plateau > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
#tab-plateau > div > div {
    aspect-ratio: 1;
  
    /*border: 1px solid black;*/
}

div.case {
    /*border: 1px solid #000;*/
    text-align: center;
}

#img-plongeoir{
    height: 60px;
    position: absolute;
}
/*
td.eau {
    background-color: rgb(32, 136, 255);
}*/

[class*="pion"] {
    width: 50px;
    height: 50px;
    
}

[class*="color-r"] {
    background-color: red;
}
[class*="color-v"] {
    background-color: green;
}
[class*="color-b"] {
    background-color: blue;
}
[class*="color-m"] {
    background-color: magenta;
}
[class*="color-c"] {
    background-color: cyan;
}
[class*="color-j"] {
    background-color: yellow;
}

.direction {
    background-color: black;
}
/*
td.plongeoir{
    border: 1px solid #000;
    border-left: none;
    background-color: lightgray;
}

td#case0{
    border: 1px solid #000;
    border-right: none;
}
*/
#joueurActu{
    background-color: #dddddd;
}

#interface{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

#demasquer{
    text-align: center;
    padding: 10px;
}





span#indicationCouleur{
    display: inline-block;
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: rgb(135, 135, 135); 
}

#FinPartie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-bottom: 50px;
}

.Gagnant {
    text-align: center;
}
